node_modules
dist
dist-ssr
*.local
.env
.env.local
.env.production.local
.env.development.local
.env.test.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
